* {
  background: #131313;
}
.main_content {
  font-family: "Montserrat";
  font-style: normal;
  width: 1157px;
  height: 746px;
  background-image: url(/Lesson3/img/Стена.png);
}
/* Шапка сайта */
.header_hipe {
  position: absolute;
  width: 177px;
  height: 59px;
  left: 387px;
  top: 0px;
  font-family: "Caveat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1acd4c;
}
.header_cart_number {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.header_main {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}
.header_history {
}
h1 {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;

  color: #ffffff;
}
/* Заглавные ячейки таблицы */
.thead {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #727272;
}
.thead_date {
}
.thead_count_products {
}
.thead_count_people {
}
.thead_time {
}
/* Тело таблицы */
.tbody {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #ffffff;
}
