/* <!-- создать страницу с 2 дивами и 3 параграфами 
    параграфам синий текст, дивам - зеленый, для последнего дива черный фон--> */
.last {
  background: black;
}
.div {
  color: green;
}
.p {
  color: blue;
}
